#header {
  grid-area: header;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px;
  height: var(--header-height);
}

#header > .header-content {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: min(1100px, calc(100vw - 2rem));
  margin: 0 auto;
  height: 100%;
}

#header > .header-content > .key-form {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: grid;
  justify-content: end;
  align-items: center;
  width: 10rem;
}

#header > .header-content > .key-form > #keybox {
  width: 100%;
  border-radius: 0.5em;
  box-shadow: 0 0 1px;
  padding: 0.2em 0.5em;
}

@media screen and (max-width: 600px) {
  #header > .header-content > .key-form {
    width: 5rem;
  }
}
