#article h1 {
  font-size: 24px;
}

#article h2 {
  font-size: 22px;
}

#article h3 {
  font-size: 20px;
}

#article h4,
#article h5,
#article h6 {
  font-size :18px;
}

#article p {
  line-height: 1.2;
  margin: 0.5em 0;
}

#article a {
  color: #439cff;
}
#article a:hover {
  text-shadow: 0 0 0.5px;
}

#article strong {
  text-shadow: 0 0 0.5px;
}

#article hr {
  opacity: 0.5;
  margin: 1rem 0;
}

#article code:not(.hljs) {
  padding: 0 0.5em;
  background: #eeeeee;
}

#article blockquote {
  padding: 0.5em 1em;
  border-left: 5px solid #cccccc;
  margin: 0.5em 0;
}

#article > pre {
  margin: 0.5em 0;
}

#article ol {
  margin: 0.5em 0;
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.2em;
}

#article ul {
  margin: 0.5em 0;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.2em;
}

#article img {
  margin: 0.5em 0;
}

#article table {
  margin: 0.5em 0;
  border-collapse: collapse;
}
#article table th,
#article table td {
  border: 1px solid #aaaaaa;
  padding: 0.2em 0.5em;
}

/* mermaid.js */
#article > pre > code.language-mermaid {
  display: none;
}
