.search-result {
  display: grid;
  grid-gap: 1rem;
}

.search-result > .title {
  font-size: 20px;
}

.search-result > .list {
  display: grid;
  grid-gap: 0.5rem;
}

.search-result > .list > .item {
}

.search-result > .list > .item > .link {
  display: grid;
  grid-template: "icon text" max-content / max-content max-content;
  grid-gap: 0.5em;
  align-items: start;
  color: #439cff;
  width: max-content;
}
.search-result > .list > .item > .link:hover {
  text-shadow: 0 0 0.5px;
}

.search-result > .list > .item > .link > .icon {
  font-size: inherit;
  width: 1em;
  height: 1em;
  padding-top: 0.2em;
}
